<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDBConnection" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDBConnection" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/DBConnection" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDBConnection" contract="ClientService.IDBConnection"
                name="BasicHttpBinding_IDBConnection" />
            <endpoint address="net.tcp://localhost:45617/DBConnection" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDBConnection" contract="ClientService.IDBConnection"
                name="NetTcpBinding_IDBConnection">
                <identity>
                    <userPrincipalName value="DESKTOP-PADSUVV\lenovo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>